eAYSO.MY.reports/
2017*/*
*.composite.*
*.csv
*alias
*.xlsx
scripts/.idea/
*.xml
*update.wp_ayso1ref.sql
wp_ayso1ref.update.sql
*.txt
composites
20180423.updateUsers.wp_ayso1ref.sql
*.pdf
*.html
*.zip
*update.ayso1ref_services.sql
*update.*
working
