## file types

*.csv
*alias
*.xlsx
*.xml
*.txt
20180423.updateUsers.wp_ayso1ref.sql
*.pdf
*.html
*.zip
Thumbs.db
*.spec
*.webloc
xlsx
*.xls

## folders
__sports_connect_reports/
_eAYSO.MY.reports/
composites/
working/
data*/


## aliases
reports_encrypted
sca_certificates

## working folder
_data

## scripts
scripts/
AYSO_data_map.pptx

## Cloud Mounter
._*
